.contenedor_head{
    color: var(--color-texto);
    width: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 99;
}

.contenedor_head_texto p{
    color:var(--color-letra-titulo);
    font-size: 1.5rem;
    padding-left: 10px;
}
.contenedor_head_boton{
    display: flex;
    align-items: center;
    width: 175px;
    margin-left: 55px;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}
.contenedor_head_boton span{
    color:var(--color-boton-texto);
    margin-right: 50px;
    font-size: 1.2rem;
}
@media (max-width: 600px) {
    .contenedor_head {
        display: none;
    }

}
