.contenedor_contenido{
    width: 100%;
    color: var(--color-texto);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 125px;
    
}

.typed{
    font-weight: bold;
    color:var(--color-typed) ;
    font-style: normal;
    
}
.typed i{
    margin-bottom: 20px;
}
.boton_contenido{
    display: flex;
    width: 175px;
    height: 70px;
    background-color: var(--color-boton);
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 15px;
}
.parrafo_contenido{
    font-size: x-large;
}
.boton_contenido span{
    color: var(--color-boton-texto);
    font-size: 30px;
    
}
