.contenedor_contenido{
    width: 100%;
    color: var(--color-texto);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 95px;
    
}
.Tlqb{
    font-weight: bold;
            font-style: normal;
            position: relative;
            top: 50px; 
}

.typed{
    font-weight: bold;
    color:var(--color-typed) ;
    font-style: normal;
    top: -20px;

}
.typed i{
    margin-bottom: 20px;
}
.boton_contenido{
    display: flex;
    width: 175px;
    height: 70px;
    background-color: var(--color-boton);
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 15px;
}
.parrafo_contenido{
    font-size: 1.5rem;
    
}
.boton_contenido span{
    color: var(--color-boton-texto);
    font-size: 30px;
    
}
#seccion2{
    font-size: x-large;
    padding-top: 30px;

}
.contenedor-info{
    color: var(--color-texto);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 50px;
    flex-wrap: wrap;
}
.contenedor-info img{
    height: auto;
    width: 100%;
}